<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Bootstrap Example</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="container">
         <h2>Carte Sanitaire - Situation de l'offre de soins de santé 2020</h2>
         <table class="table">
            <thead>
               <tr>
                  <!-- <th>Id-Region</th> -->
                  <th>Nom de la Région</th>
                  <th>Nombre d’hôpitaux</th>
                  <th>Nombre de lits existants</th>
                  <th>Nombre de lits fonctionnels</th>
                  <th>Nombre de centres d’hémodialyse</th>
                  <th>Nombre de lits d’urgence</th>
                  <th>Nombre de cliniques</th>
                  <th>Nombre d’officines de pharmacie</th>
                  <th>Nombre de cabinet de laboratoire</th>
                  <th>Nombre de médecins généralistes</th>
                  <th>Nombre de médecins spécialistes</th>
                  <th>Nombre de chirurgiens-dentistes</th>
                  <th>Nombre de pharmaciens</th>
                  <th>Nombre du corps paramédical (infirmiers, sages-femmes et similaires)</th>
               </tr>
            </thead>
            <tbody>
               {% for item in product %}
               <tr>
                  <!-- <td>{{ item.id_de_region }}</td> -->
                  <td>{{ item.nom_de_region }}</td>
                  <td>{{ item.nombre_de_hopitaux }}</td>
                  <td>{{ item.nombre_lits_existants }}</td>
                  <td>{{ item.nombre_lits_fonctionnels }}</td>
                  <td>{{ item.nombre_centre_hemodialyse }}</td>
                  <td>{{ item.nombre_lit_urgence }}</td>
                  <td>{{ item.nombre_clinique }}</td>
                  <td>{{ item.nombre_de_pharmacies }}</td>
                  <td>{{ item.nombre_de_cabinet_labo }}</td>
                  <td>{{ item.nombre_med_general }}</td>
                  <td>{{ item.nombre_med_special }}</td>
                  <td>{{ item.nombre_med_dentist }}</td>
                  <td>{{ item.nombre_pharmaciens }}</td>
                  <td>{{ item.nombre_para }}</td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </body>
</html>